@import '../utils/variables';
@import './Form.module.scss';

.container {
  padding: calc(10px + 1vh) calc(8px + 0.8vw);
  position: relative;
  height: 100vh;
  max-width: 1024px;
  margin: auto;
}

.header {
  @include flex(row, flex-start, space-between, true);
  margin-bottom: calc(8px + .8vh);
  height: 350px;

  @media screen and (max-width: $breakpoint_max_md) {
    display: block;
    height: fit-content;
  }
}

.tabHeader {}

.detailWedding {
  border: 1px solid $color_light_border;
  border-radius: 3px;
  padding: calc(8px + .8vh) calc(8px + .8vw);
  width: calc((100% / 2) - (8px + .8vw));
  height: 100%;

  @media screen and (max-width: $breakpoint_max_md) {
    width: 100%;
    margin-top: calc(8px + .8vw);
    height: fit-content;
  }
}

.detailEventContainer {}

.detailEventItems {}

.detailEventItemsLabel {
  @include typographyBuilder(600, 16, 16);
  margin: 14px 0 8px 0;
}

.detailEventItemsValue {
  @include typographyBuilder(400, 16, 16);
  margin: 0;
}

.statistikContainer {
  border: 1px solid $color_light_border;
  border-radius: 3px;
  padding: calc(8px + .8vh) calc(8px + .8vw);
  width: calc((100% / 2) - (8px + .8vw));
  height: 100%;

  @media screen and (max-width: $breakpoint_max_md) {
    width: 100%;
    height: fit-content;
  }
}

.statistikChartContainer {
  @include flex(row, center, flex-start);
  @include fixedWidth(100%);

  @media screen and (max-width: $breakpoint_max_md) {
    display: block;
  }
}

.statistikChart {
  @include fixedWidth(50%);
  @include fixedHeight(250px);

  @media screen and (max-width: $breakpoint_max_md) {
    @include fixedWidth(100%);
  }
}

.statistikChartDesc {
  @include fixedWidth(50%);

  @media screen and (max-width: $breakpoint_max_md) {
    @include fixedWidth(100%);
  }

  h3 {
    @include flex(row, center, flex-start);
    @include typographyBuilder(600, 16, 16);
    margin-bottom: calc(8px + .8vh);
    padding-bottom: calc(6px + .6vh);
    margin-top: 0;
    border-bottom: 1px solid $color_light_border;

    &>span:first-child {
      @include fixedSize(16px);
      margin-right: 8px;
    }

    &>span:last-child {
      display: inline-block;
      margin-left: auto;
    }
  }
}

.statistikHeader,
.detailHeader {
  @include flex(row, flex-start, flex-start);
  @include typographyBuilder(600, 16, 16);
  padding-bottom: calc(6px + .6vh);
  margin-bottom: calc(6px + .6vh);
  border-bottom: 1px solid $color_light_border;

  span,
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  span {
    margin-right: calc(8px + .8vw);
  }
}

// .statistikContainerItems {
//   @include fixedWidth(calc((100% / 2) - 10px));
//   @include fixedHeight(200px);
//   @include flex(column, center, center);
//   color: $color_white;
//   border-radius: 4px;
//   margin-bottom: 20px;

//   &[class$="total"] {
//     background-color: $color_green;
//   }

//   &[class$="arrival"] {
//     background-color: $color_blue;
//   }

//   &[class$="noarrival"] {
//     background-color: $color_grey_dark;
//   }

//   &[class$="noconfirm"] {
//     background-color: $color_grey_light;
//   }

//   & > label:nth-child(1) {
//     @include typographyBuilder(400, 36, 36);
//     margin-bottom: 20px;
//   }
// }

.tabBody {
  padding: calc(5px + .5vh) 0;
  margin-top: calc(8px + .8vh);
}

.listGuestHeader {
  // @include flex(row, center, space-between);
}

.tabHeaderButton {
  @include typographyBuilder(400, 12, 14);
  width: 50%;
  padding: calc(5px + .5vh) calc(5px + .5vw);
  border-radius: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $color_black_text;
  color: $color_black_text;

  &[class$="active"] {
    @include typographyBuilder(600, 12, 14);
    color: $colorTheme1;
    border: 1px solid $colorTheme1;
    border-bottom: 0;
  }
}

.listGuestHeaderInputContainer {
  @include flex(row, center, space-between);
  margin-top: calc(8px + .8vh);

  &>input {
    margin-bottom: 0;
  }

  &>input,
  &>select {
    width: calc((100% / 2) - 8px);
  }
}

.listGuestContainer {
  // max-height: 90vh;
  // overflow: hidden;
}

.listGuestItemsContainer {
  margin-top: calc(8px + .8vh);
  padding: calc(5px + .5vh) calc(5px + .5vw);
  // height: 75vh;
  // overflow: auto;
}

.listGuestItemHeader {
  @include flex(row, center, space-between);
}

.listGuestItem {
  border: 1px solid $colorTheme1;
  margin-top: calc(4px + .4vh);
  border-radius: 3px;
  padding: calc(5px + .5vh) calc(5px + .5vw);
}

.listGuestItemName {
  @include typographyBuilder(600, 18, 16);
  margin: 0 0 calc(4px + .4vh);
}

.listGuestItemTime {
  @include flex(row, center, flex-start);
  @include typographyBuilder(400, 18, 16);
  margin: 0 0 calc(4px + .4vh);

  &>span {
    @include icon('clock', $colorTheme1, 14px, 14px);
    margin-right: 6px;
  }
}

.listGuestItemLink {
  @include typographyBuilder(400, 18, 16);
  @include flex(row, center, space-between);
  background: $color_light_dark;
  padding: calc(5px + .5vh) calc(5px + .5vw);
  border-radius: 4px;
}

.listGuestItemLinkIcon {
  @include fixedWidth(13.33px);
  @include fixedHeight(16.67px);
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 0 0 calc(4px + .4vw);
  background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.04778 0.666656C4.99581 0.666656 4.14302 1.5994 4.14302 2.74999V11.0833C4.14302 12.2339 4.99581 13.1667 6.04778 13.1667H11.7621C12.814 13.1667 13.6668 12.2339 13.6668 11.0833V5.2648C13.6668 4.71226 13.4661 4.18236 13.1089 3.79166L10.8097 1.27685C10.4525 0.88615 9.96799 0.666656 9.46282 0.666656H6.04778Z' fill='%232A2A2A'/%3E%3Cpath d='M0.333496 6.91666C0.333496 5.76606 1.18629 4.83332 2.23826 4.83332V15.25H9.8573C9.8573 16.4006 9.00451 17.3333 7.95254 17.3333H2.23826C1.18629 17.3333 0.333496 16.4006 0.333496 15.25V6.91666Z' fill='%232A2A2A'/%3E%3C/svg%3E%0A");
}

.formAddLinkContainer {
  @include flex(column, flex-start, flex-end);
  position: fixed;
  transition: all .5s;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;

  &[class$='close'] {
    max-height: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

  }

  @media screen and (min-width: $breakpoint_min_md) {
    @include fixedWidth(100vw);
    @include flex(column, center, center);
    left: 0;
  }
}

.formAddLinkBackground {
  opacity: .5;
  background-color: $color_black;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  width: 100vh;
  min-width: 100vw;
}

.formAddLinkBody {
  max-width: 500px;
  width: 100vw;
  border-radius: 15px 15px 0 0;
  -webkit-box-shadow: 0px -5x 6px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px -5px 6px rgba(50, 50, 50, 0.25);
  box-shadow: 0px -5px 6px rgba(50, 50, 50, 0.25);
  background-color: $color_white;
  z-index: 1;
  padding: calc(10px + 1vh) calc(8px + 0.8vw);

  @media screen and (min-width: $breakpoint_min_md) {
    border-radius: 15px;
  }
}

.formAddLinkLabel {
  @include typographyBuilder(400, 14, 12);
  display: block;
  text-align: left;
  margin-bottom: 6px;
}

.formAddLinkInput {
  @extend .form_input;
  @include typographyBuilder(400, 14, 12);
  width: 100%;
  text-align: left;
  -moz-appearance: textfield !important;
  margin-bottom: calc(8px + .8vh);

  &::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}

.formAddLinkInputFilter {
  @extend .form_input;
  @include typographyBuilder(400, 14, 12);
  width: 100%;
  text-align: left;
  -moz-appearance: textfield !important;
  margin: 0;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}

.formAddLinkButton {}

.formAddLinkHeaderContainer {
  @include flex(row, center, center);
  position: relative;
  margin-bottom: 15px;
}

.formAddLinkHeaderTitle {
  @include typographyBuilder(600, 18, 16);
  margin: 0;
}

.formAddLinkHeaderClose {
  position: absolute;
  top: 0;
  right: 0;
}

.buttonShowAllContainer {
  @include flex(row, center, center);
  margin-top: 20px;
}