@import '../utils/variables';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  @include fixedHeight(100vh);
  background-color: rgba($color_white, 0.5);
  position: relative;
}

.content {
  @include fixedHeight(100vh);
  @include fixedWidth(100vw);
  position: absolute;
  top: 0;
  z-index: 2;
  padding: calc(10px + 1.5vh) calc(10px + 1.5vw);
  // color: $color_white;
}

.section {
  padding: 0 calc(8px + .8vw);
  margin-bottom: calc(20px + 2vh);
  z-index: 1;

  h3 {
    @include flex(row, center, center);
    @include typographyBuilder(600, 18, 22);
    color: $colorTheme3;
    margin-top: 0;
    white-space: nowrap;

    &::after {
      @include fixedHeight(2px);
      content: "";
      display: block;
      margin-left: calc(8px + .8vw);
      width: 100%;
      border-bottom: 1px solid $colorTheme3;
    }
  }

  h4 {
    @include typographyBuilder(600, 16, 16);
    margin-top: 0;
    margin-bottom: calc(5px + 1vh);
  }

  p {
    @include typographyBuilder(400, 14, 14);
    margin-top: 0;
    margin-bottom: calc(18px + .9vh);
  }
}

.flower {
  @include fixedHeight(80px);
}

.flowerContainer {
  @include flex(row, center, center);
  position: absolute;
  top: -30px;
  z-index: 10;
  width: 100%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title {
  @include typographyBuilder(400, 14, 20);
  margin: calc(24px + 2.4vh) 0;
  text-align: center;
}

.overlay {
  @include fixedHeight(100vh);
  @include fixedWidth(100vw);
  position: absolute;
  top: 0;
  z-index: 0;
  background: linear-gradient(0deg, rgba(57, 7, 36, 0.3), transparent 50%, rgb(231, 224, 228));
}