@import '../utils/variables';

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.container {
    @include flex(column, center, space-between);
    background-color: rgba($color_white, 0.5);
    padding: calc(40px + 4vh) calc(10px + 1vw) calc(18px + 1.8vh);
    text-align: center;
    position: relative;
}

.title {
    @include typographyBuilder(400, 14, 20);
    margin-top: 0;
    margin-bottom: calc(24px + 2.4vh);

    i {
        @include typographyBuilder(600, 16, 18);
    }
}

.amp {
    @include typographyBuilder(600, 52, 52, false);
    margin: calc(8px + .8vh) 0;
    color: $colorTheme3;
}

.personContainer {
    margin-bottom: calc(20px + 2vh);
}

.personTitle {
    @include typographyBuilder(600, 24, 24);
    margin-bottom: calc(8px + .8vh);
    margin-top: 0;
    color: $colorTheme3;
}

.personDesc {
    @include typographyBuilder(400, 14, 14);
    margin-bottom: calc(8px + .8vh);
    margin-top: 0;
}

.personPhoto {
    @include fixedWidth(150px);
    @include fixedHeight(180px);
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: calc(8px + .8vh);
    object-position: top;
}

.flower{
    @include fixedWidth(80px);
    position: absolute;
    top: -30px;
    z-index: 10;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}